<!DOCTYPE html>
<html>
<head>
	<title>LemonBar v0.1.0</title>
	<script type="text/javascript" src="../static/js/lemonbar.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/lemonbar.css">
	<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="nav-header">LemonBar</div>
	<div class="content">
		<div class="nav-left">s
			<ul>
				<li>
					<i class="fa fa-users"></i>
					<a href="group">BGTA</a>
				</li>
				<li>
					<i class="fa fa-user"></i>
					<a href="profile">Rowan Hill</a>
				</li>
				<li>
					<i class="fa fa-trophy"></i>
					<a href="index">Leaderboard</a>
				</li>
				<li>
					<i class="fa fa-archive"></i>
					<a href="library">Library</a>
				</li>
				<li>
					<i class="fa fa-fort-awesome"></i>
					<a href="#">Current Event</a>
				</li>
			</ul>
		</div>
		<div class="content-main">
			<div class="content-title">
				<span class="text-title text-large">Datetime</span>
				<span class="text-accent text-small">Seattle, WA</span>
				<!-- event info (date, time, duration, location) -->
			</div>
			<div class="content-columns">
				<div class="event column-1">
					list of attendees
				</div>
				<div class="event column-2-3">
					grid view of games
					<div class="content-add">
						add button
					</div>
				</div>
			</div>
			<div class="content-form">
				add new game to event
			</div>
		</div>
	</div>
</body>
</html>
