<!DOCTYPE html>
<html>
<head>
	<title>LemonBar v0.1.0</title>
	<link rel="stylesheet" type="text/css" href="../static/css/lemonbar.css">
	<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="nav-header">LemonBar</div>
	<div class="content">
		<div class="nav-left">
			<ul>
				<li>
					<i class="fa fa-users"></i>
					<a href="group">BGTA</a>
				</li>
				<li>
					<i class="fa fa-user"></i>
					<a href="profile">Rowan Hill</a>
				</li>
				<li>
					<i class="fa fa-trophy"></i>
					<a href="index">Leaderboard</a>
				</li>
				<li>
					<i class="fa fa-archive"></i>
					<a href="#">Library</a>
				</li>
				<li>
					<i class="fa fa-fort-awesome"></i>
					<a href="event">Current Event</a>
				</li>
			</ul>
		</div>
		<div class="content-main">
			<div class="content-title">
				<span class="text-title text-large">Library</span>
				<span class="text-accent text-small">Add or remove members to compare games!</span>
			</div>
			<div class="content-search">
				<div>
					<!-- <form> -->
						<input class="form-input" type="text" name="player" placeholder="search members...">
					<!-- </form> -->
				</div>
				<div class="content-labels">
					<!-- <div class="content-label">player label 1<span class="close">x</span></div>
					<div class="content-label">player label 2<span class="close">x</span></div>
					<div class="content-label">player label 3<span class="close">x</span></div> -->
				</div>
			</div>
			<div class="content-table">
				<div class="error-message">No board games found.</div>
				<table>
					<tr>
						<td>Name</td>
						<td>Players</td>
						<td>Genre</td>
						<td>Games Played</td>
					</tr>
					<tr>
						<td>Coup</td>
						<td>2-6</td>
						<td>Card/Deceit</td>
						<td>32</td>
					</tr>
					<tr>
						<td>Splendor</td>
						<td>2-4</td>
						<td>Collection/Deck Building</td>
						<td>12</td>
					</tr>
					<tr>
						<td>Lanterns</td>
						<td>2-4</td>
						<td>Strategy</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Patchwork</td>
						<td>2</td>
						<td>Puzzle</td>
						<td>7</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/library.js" defer></script>
	</body>
</html>
