<!DOCTYPE html>
<html>
<head>
	<title>LemonBar v0.1.0</title>
	<script type="text/javascript" src="../static/js/lemonbar.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/lemonbar.css">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="nav-header">LemonBar</div>
	<div class="content">
		<div class="nav-left">
			<ul>
				<li>
					<i class="fa fa-users"></i>
					<a href="group">BGTA</a>
				</li>
				<li>
					<i class="fa fa-user"></i>
					<a href="profile">Rowan Hill</a>
				</li>
				<li>
					<i class="fa fa-trophy"></i>
					<a href="index">Leaderboard</a>
				</li>
				<li>
					<i class="fa fa-archive"></i>
					<a href="#">Library</a>
				</li>
				<li>
					<i class="fa fa-fort-awesome"></i>
					<a href="event">Current Event</a>
				</li>
			</ul>
		</div>
		<div class="content-main">
			<div class="content-title">
				<span class="text-title text-large">Library</span>
				<span class="text-accent text-small">Add or remove members to compare games!</span>
			</div>
			<div class="content-search">
				<div>
					<form>
						<input type="text" name="player" placeholder="search members...">
					</form>
				</div>
				<div class="content-labels">
					<div class="content-label">player label<span class="close">x</span></div>
					<div class="content-label">player label<span class="close">x</span></div>
					<div class="content-label">player label<span class="close">x</span></div>
				</div>
			</div>
			<div class="content-table">
				table of games
			</div>
		</div>
	</div>
</body>
</html>
