<!DOCTYPE html>
<html>
<head>
	<title>LemonBar v0.1.0</title>
	<script type="text/javascript" src="../static/js/lemonbar.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/lemonbar.css">
	<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="nav-header">LemonBar</div>
	<div class="content">
		<div class="nav-left">
			<ul>
				<li>
					<i class="fa fa-users"></i>
					<a href="/group">BGTA</a>
				</li>
				<li>
					<i class="fa fa-user"></i>
					<a href="#">Rowan Hill</a>
				</li>
				<li>
					<i class="fa fa-trophy"></i>
					<a href="/index">Leaderboard</a>
				</li>
				<li>
					<i class="fa fa-archive"></i>
					<a href="/library">Library</a>
				</li>
				<li>
					<i class="fa fa-fort-awesome"></i>
					<a href="/event">Current Event</a>
				</li>
			</ul>
		</div>
		<div class="content-main">
			<div class="content-columns">
				<div class="profile column-1">
					<div class="content-picture">
						<img src="../static/profile.jpg" class="profile-picture">
					</div>
					<div class="content-header">
						<span class="text-title">Rowan Hill</span>
						<span class="text-accent">Seattle, WA</span>
						<span class="text-spacing">(253) 886 4033</span>
					</div>
					<!-- <div class="content-contact">
					</div> -->
				</div>
				<div class="profile column-2-3">
					<div class="content-labels">
						<div class="text-label">39<br><span class="text-faint">Wins</span></div>
						<div class="text-label">249<br><span class="text-faint">Events</span></div>
						<div class="text-label">341<br><span class="text-faint">Games</span></div>
					</div>
				</div>
			</div>
			<div class="profile content-table">
				board game collection
			</div>
		</div>
	</div>
</body>
</html>
