html{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	min-width: 600px;
	height: 100vh;
	font-family: 'Lato', arial, sans-serif;
	font-size: 16px;
}

.button{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
}

.content{
	display: flex;
	height: calc(100% - 50px);
}

.nav-header{
	font-size: 1.5em;
	height: 50px;
	background: #f39c12;
}

.nav-left{
	display: inline-block;
	background: #ecf0f1;
	height: 100%;
	min-width: 200px;
}

.nav-left ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-left i{
	margin-right: 12px;
}

.nav-left li{
	border-bottom: 1px solid black;
	padding-bottom: 16px;
	padding-top: 16px;
	padding-right: 16px;
	text-align: right;
}

.nav-left a{
	text-decoration: none;
	color: #000000;
}

.content-add{
	background-color: #1abc9c;
	width: 67px;
	height: 67px;
	text-align: center;
	border-radius: 67px;
	position: absolute;
	right: 40px;
	bottom: 40px;
}

.content-add:hover{
	cursor: pointer;
}

.content-add i{
	width: 40px;
	height: 40px;
	position: relative;
	top: 19px;
	color: #ffffff;
}

.content-main{
	display: inline-block;
	width: 100%;
	padding-right: 23px;
}

/*profile page*/
.content-header{
	text-align: center;
	margin-top: 23px;
	width: 100%;
}

.content-hover{
	visibility: hidden;
}

.content-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.15;
}

.content-form{
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -300px;
	background-color: white;
	-webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.55);
	box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.55);
}

.content-form-close{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #7f8c8d;
}

.content-form-close:hover{
	color: #c0392b;
	cursor: pointer;
}

.content-cards{
	margin-top: 23px;
	margin-left: 23px;
}

.content-labels, .content-badges{
	width: 100%;
	display: inline-block;
}

.content-label{
	margin-top: 8px;
	margin-left: 23px;
	padding: 5px;
	padding-right: 25px;
	border: 2px solid #f39c12;
	border-radius: 5px;
	background: #fbd9a4;
	position: relative;
	display: inline-block;
}

.close{
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.close:hover{
	cursor: pointer;
}

.content-columns{
	display: flex;
}

.content-table{
	width: 90%;
	margin: auto;
	margin-top: 23px;
}

.content-title{
	margin-left: 23px;
	margin-top: 23px;
}

.content-picture{
	width: 250px;
	height: 250px;
	border-radius: 250px;
	overflow: hidden;
	margin: auto;
}

.content-search{
	margin-top: 23px;
	margin-left: 23px;
}

.column-1, .column-2, .column-3{
	width: 33%;
	display: inline-block;
	margin-left: 23px;
	margin-top: 50px;
	/*border: 1px solid black;*/ /*testing*/
}

.column-2-3{
	display: inline-block;
	width: 66%;
	margin-left: 23px;
	margin-top: 50px;	
}

.profile-picture{
	width: 250px;
}

.text-accent{
	display: block;
	font-style: italic;
}

.text-label{
	display: inline-block;
	width: 30%;
	margin: auto;
	text-align: center;
}

.text-faint{
	font-family: 'Lato Hairline', arial, sans-serif;
	color: #999999;
	font-weight: normal;
}

.text-spacing{
	display: block;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.text-title{
	display: block;
	font-weight: bold;
}

.text-small{
	font-size: 0.8em;
}

.text-large{
	font-size: 1.8em;
}

.game-object{
	border: 1px solid black;
	padding: 5px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
}

.game-state-begin, .library-game-add{
	position: relative;
	top: 25px;
	left: 15px;
	color: #ffffff;
	background-color: #1abc9c;
}

.game-state-end{
	background-color: #c0392b;
}

@media (max-width: 800px) {
	.content-main{
		text-align: center;
	}

	.content-columns{
		display: block;
		margin-left: 23px;
	}

	.content-table{
		margin-left: 23px;
		width: initial;
	}

	.content-labels{
		margin-top: 3px;
	}

	.content-label{
		margin-top: 5px;
		margin-right: 5px;
		margin-left: 0px;
	}

	.column-1, .column-2, .column-3{
		width: 100%;
		margin: 0;
		margin-top: 23px;
	}

	.column-2-3{
		width: 100%;
		margin: 0;
		margin-top: 23px;
	}
}